.swiper-button-prev {
  bottom: 0px !important;
  left: 40px !important;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.swiper-button-next {
  bottom: 0px !important;
  right: 40px !important;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgb(74, 73, 73);
  transition: background-color 0.3s ease;
}
